@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-color: #042A49;
  --secondary-color: #EBD180;
}

.text-secondary-color {
  color: var(--secondary-color)
}

.disabledElement {
  background-color: gray;
  cursor: default;
}

h1, h2, h3 {
  font-family: var(--font-poppins), sans-serif;
}

p, li, a, button {
  font-family: var(--font-lato), sans-serif;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
